html
    head
        title FlexBox
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        .wrapper
            .flex-container
                div.box.one
                div.box.two
                div.box.three
