html 
  head
    title FlexBox menu
    link(rel="stylesheet" type="text/css" href="example-1/style.css")
  body
    .wrapper
      nav
        ul
          li
            a Home
          li
            a About
          li
            a Store
          li
            a Contact
