html
  head
    title Nested Menu
    link(rel="stylesheet" type="text/css" href="example-2/style.css")
  body
    .wrapper 
      nav
        ul
          li
            a Home
          li
            a About
          li
            a Store
          li
            a Contact
        
        ul.social
          li
            a.fb Facebook
          li 
            a.tw Twitter